body{
font-family: Arial;
background:#f4f4f4;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
width:300px;
}

h2{
text-align:center;
margin-bottom:20px;
}

label{
display:block;
margin-top:10px;
}

input{
width:100%;
padding:8px;
margin-top:5px;
}

button{
margin-top:15px;
width:100%;
padding:10px;
background:blue;
color:white;
border:none;
cursor:pointer;
}

#message{
margin-top:15px;
text-align:center;
font-weight:bold;
}